body {
	background-color:#A0CCDA;
	font-family: 'Lato', sans-serif;
}

#about-me
{
	font-size: 120%;
	padding-left: 40px;
	padding-right: 30px;
}

main
{
	font-family: 'Abel', sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}
.main-section{
	font-family: 'Abel', sans-serif;
	margin-top:150px;
	color:#000;
	margin-bottom: 30px;
}
.buttonload .fa-spin{
	margin-right:10px;
}
.heading h1{
	text-shadow: 5px 5px 5px #fff;
	font-weight:bold;
	margin-bottom: 50px;
}



.container-1{
	display:flex;
	flex-wrap:wrap;
}

.container-1 div
{
	/* border:1px #ccc solid; */
    padding:18px;
}

.box
{
	flex: 1 1 0;
	/* width:0;? */

}

 .original{
	 padding-left: 20px;
 }
 
 .about{
	 padding-top :10px;
	 padding-bottom :10px;
 }


 #upload-image
 {
	padding-top: 0%;
	padding-bottom: 4%;
	padding-left: 4%;
 }

 #upload-text
 {
	margin: auto;
	width: 50%;
	padding:7%; 
	padding-top: 0.5%;
 }

 .item_text{
	 padding:10px;
	 font-size: 17px;
 }

.home-heading
{
	padding-top: 60px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	box-shadow: 10px 10px;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

	margin: 0; overflow: auto;
  }
  
  /* Modal Content (Image) */
  .modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	max-height: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
  }
  
  
  @keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
	position: fixed;
	top: 15px;
	right: 25px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
  }
  

  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover:not(.active) {
	background-color: #111;
  }

#random-description
{
	padding-block-end: 2%;
	font-size: 120%;
}

  @media only screen and (max-width: 600px) {
	#random-description
	{
	  padding-block-start: 2%;
	}
  }